.logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;

  img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
  }

  h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-family: "Myriad Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
}

.field-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  .field-name {
    .anticon {
      margin-left: 5px;
    }
  }
}

.header-actions {
  position: absolute;
  top: 0;
  right: 16px;
}

.theme-card-wrapper {
  position: absolute;
  top: 92px;
  right: 28px;
  height: 86%;
}

.theme-edit {
  .preview-header,
  .preview {
    padding-right: 24px;
  }

  .preview {
    max-width: 1600px;
  }

  .options {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .components {
    &.input {
      width: 500px;
    }
    &.tree {
      .component-row {
        display: flex;
        justify-content: space-between;
      }
    }

    .component-row {
      margin-bottom: 12px;

      &.calendar {
        width: 300px;
      }

      .component-col {
        display: inline-block;
        margin-right: 14px;

        .badge-square {
          width: 42px;
          height: 42px;
          border-radius: 4px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

.ant-back-top {
  right: 370px !important;
}
