@import '~antd/es/style/themes/dark.less';

@primary-color: @primary-p-red-light;
@success-color: @secondary-green;
@info-color: @system-grey-med-2;
@warning-color: @secondary-orange;
@error-color: @secondary-red;
@highlight-color: @primary-p-red-light;
@processing-color: @system-grey-med-2;
@body-background: @system-grey-dark-1;
@component-background: @system-grey-dark-1;
@icon-color-hover: @primary-p-red-light;
@heading-color: @white;
@text-color: @white;
@text-color-secondary: @system-grey-med-2;
@text-color-inverse: @white;
@heading-color-dark: @white;
@text-color-dark: @white;
@text-color-secondary-dark: @system-grey-med-2;
@text-selection-bg: @system-grey-light-1;
@border-color-base: @system-grey-dark-4;
@border-color-split: @system-grey-dark-4;
@border-style-base: solid;
@layout-body-background: @black;
@layout-header-background: @system-grey-dark-2;
@layout-sider-background: @component-background;
@layout-trigger-background: @system-grey-dark-2;
@font-family: 'Axiforma', 'BebasNeue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
@font-feature-settings-base: tnum;
@border-radius-base: 5px;
@border-radius-sm: 5px;
@disabled-color: fade(@white, 30%);
@disabled-bg: @background-color-base;
@disabled-color-dark: fade(@white, 30%);
@link-color: @success-color;
@outline-blur-size: 6px;
@outline-width: 3px;
@outline-color: @primary-p-red-light;
@background-color-light: @system-grey-dark-3;
@background-color-base: @system-grey-dark-3;
@item-active-bg: transparent;
@item-hover-bg: fade(@white, 10%);
@shadow-color: rgba(0, 0, 0, 0.45);
@shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, 0.24), 0 -9px 28px 0 rgba(0, 0, 0, 0.15),
  0 -12px 48px 16px rgba(0, 0, 0, 0.09);
@shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, 0.24), 0 9px 28px 0 rgba(0, 0, 0, 0.15),
  0 12px 48px 16px rgba(0, 0, 0, 0.09);
@shadow-1-left: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05),
  -12px 0 48px 16px rgba(0, 0, 0, 0.03);
@shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, 0.24), 9px 0 28px 0 rgba(0, 0, 0, 0.15),
  12px 0 48px 16px rgba(0, 0, 0, 0.09);
@shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.36), 0 6px 16px 0 rgba(0, 0, 0, 0.24), 0 9px 28px 8px rgba(0, 0, 0, 0.15);
@btn-font-weight: 600;
@btn-primary-bg: @success-color;
@btn-default-bg: fade(@white, 10%);
@btn-default-border: fade(@white, 20%);
@btn-group-border: fade(@black, 50%);
@btn-text-hover-bg: rgba(255, 255, 255, 0.05);
@checkbox-size: 16px;
@checkbox-color: @system-grey-light-2;
@checkbox-check-color: @system-grey-dark-2;
@dropdown-line-height: 32px;
@radio-size: 16px;
@radio-dot-color: @system-grey-light-2;
@radio-button-bg: @system-grey-dark-2;
@radio-button-checked-bg: fade(@white, 20%);
@radio-button-color: @text-color;
@radio-button-hover-color: @text-color;
@radio-button-active-color: @text-color;
@input-placeholder-color: @system-grey-med-2;
@input-border-color: @system-grey-dark-3;
@input-bg: @system-grey-dark-3;
@input-number-handler-active-bg: @popover-background;
@input-hover-border-color: fade(@white, 30%);
@input-icon-color: @white;
@input-icon-hover-color: @icon-color-hover;
@select-item-selected-font-weight: 600;
@select-item-selected-bg: fade(@black, 50%);
@tooltip-color: @white;
@tooltip-bg: fade(@system-grey-dark-3, 90%);
@tooltip-arrow-width: 8px;
@popover-bg: @system-grey-dark-3;
@modal-header-bg: @popover-background;
@modal-mask-bg: fade(@black, 50%);
@menu-item-height: 36px;
@menu-collapsed-width: 60px;
@menu-bg: fade(@white, 5%);
@menu-popup-bg: @system-grey-dark-1;
@menu-item-active-bg: fade(@black, 50%);
@menu-dark-bg: fade(@white, 5%);
@menu-dark-submenu-bg: @system-grey-dark-1;
@menu-dark-highlight-color: @white;
@menu-dark-item-active-bg: fade(@black, 50%);
@table-header-bg: fade(@black, 20%);
@table-header-sort-bg: fade(@white, 10%);
@table-body-sort-bg: fade(@white, 1%);
@table-row-hover-bg: fade(@white, 5%);
@table-selected-row-bg: @system-grey-dark-3;
@table-expanded-row-bg: @black;
@carousel-dot-active-width: 16px;
@badge-color: @primary-color;
@badge-height: 22px;
@badge-text-color: @white;
@rate-star-color: @primary-p-yellow;
@card-actions-background: fade(@white, 5%);
@card-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.48), 0 3px 6px 0 rgba(0, 0, 0, 0.36), 0 5px 12px 4px rgba(0, 0, 0, 0.27);
@tabs-card-head-background: fade(@white, 5%);
@tabs-hover-color: @primary-5;
@tabs-card-gutter: 4px;
@avatar-bg: @system-grey-med-1;
@switch-color: @success-color;
@switch-shadow-color: fade(@black, 20%);
@switch-bg: @white;
@pagination-item-bg-active: transparent;
@slider-rail-background-color: fade(@white, 20%);
@slider-rail-background-color-hover: @slider-rail-background-color;
@slider-track-background-color: @primary-color;
@slider-track-background-color-hover: @primary-5;
@slider-handle-color: @primary-color;
@slider-handle-color-hover: @primary-5;
@skeleton-color: @system-grey-dark-4;
@alert-success-border-color: transparent;
@alert-success-bg-color: fade(@system-grey-dark-3, 90%);
@alert-info-border-color: transparent;
@alert-info-bg-color: fade(@system-grey-dark-3, 90%);
@alert-warning-border-color: transparent;
@alert-warning-bg-color: fade(@system-grey-dark-3, 90%);
@alert-error-border-color: transparent;
@alert-error-bg-color: fade(@system-grey-dark-3, 90%);
@message-notice-content-bg: fade(@system-grey-dark-3, 90%);
@tree-node-selected-bg: fade(@black, 50%);
