@import "./assets/styles/fonts/Axiforma/stylesheet.scss";
@import "./assets/styles/fonts/BebasNeue/stylesheet.scss";

body {
  margin: 0;
  font-family: "Axiforma", "BebasNeue", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0c0c0c !important;

  @include customScrollBar();
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
}
